*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;        
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body{
    background: #0B0C10!important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

/* SKILL SET SECTION */

.skills-title {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 30px;
    /* color: #c5c6c7; */
    color: transparent;
 }

  .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .skill {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .skill:hover {
    background: transparent;
    border: 1px solid #f5d440;
    transform: scale(1.08);
  }

/* END SKILL SET SECTION */

/* PORTFOLIO CARD */
.portfolio-container {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.25);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 30px;  
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 350px;
    
  }
  
  .portofio-wrapper {
    width: 300px;
    height: 100%;
    
  }
  
   .project-image {
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255, 0.255)
  }
  
  h1.project-title{
    font-family: 'Righteous', sans-serif;
    color: rgba(255,255,255,0.98);
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  
  .portofio-wrapper p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 0.8rem;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .portofio-wrapper .button-wrapper{
    margin-top: 18px;
  }
  
  .portofio-wrapper .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .outline {
    background: transparent;
    color: darkgray;
    border: 1px solid #f5d440;
    transition: all .3s ease;
    
  }
  
  .outline:hover{
    transform: scale(1.125);
    color: rgba(255, 255, 255, 0.9);
    border-color: rgba(255, 255, 255, 0.9);
    transition: all .3s ease;  
  }
  
  .fill {
    background: #f5d440;
    color: #fff;
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
  
  .fill:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }

  /* END PORTFOLIO CARD */

.js-side-bar-child{
    height: 95vh;
}
.js-sidebar-body,.js-salmeron-content{
    background-color: #1F2833!important;
}
.js-content{
    background-color: rgb(120,170,168,0.17)!important;
    color: #C5C6C7;
}
.js-border-radius{
    border-radius: 20%;
}
.js-profile-img{
    width: 8.1pc!important;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li, ul li a{
    background: none!important;
    position: relative;
}

ul li a{
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    /* color: #66FCF1; */
    color: #f5d440;
}


a:before {
    content: "";
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    /* background: #66FCF1; */
    background: #f5d440;
    transition: width 0.5s ease-out;
}
nav ul li a:hover:before {
    width: 100%;
}
.text-white{
    color: #C5C6C7!important;
    font-size: 1.5rem;
}

.active-itemmenu::before {
    content: "";
    height: 2px;
    width: 100%;
    top: 1.5rem;
    left: 0;
    bottom: 0;
    position: absolute;
    /* background: #66FCF1; */
    background: #f5d440;
}

.main-content{
    scrollbar-width: 3px!important;
}

.content-section {
    display: none;
}
.active-section {
    display: block;
    transition: all 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.main-content::-webkit-scrollbar {
width: 1em;
}

.main-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

.main-content::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}
img.js-profile-img{
    cursor: pointer;
}

a.work{
    text-decoration: none;
    color: #1F2833;
}
.desc {
    vertical-align: middle;
    height: 100%;
    background: #fff;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: small;
}

.work{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    width: auto;        
}

.work:hover .desc {
    opacity: 1;
}

.js-sidebar{
    width: auto;
}

@media (max-width: 600px ){

    

    .js-sidebar{
        width: 100%;
        padding-bottom: 1rem;
    }
    .js-sidebar-body{
        display: flex;
    }

    .js-side-bar-child{
        height: unset;
    }
}
